<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="javascript/weather.js"></script>
    </head>
    <body>
        <form name="searchForm" class="example" action="#" onsubmit="return searchForLocations(this);" style="margin:auto;max-width:400px">
            <input type="text" placeholder="Search country or city.." name="query">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <div>
            <ul id="location_list">
            </ul>
        </div>
        <table id="myTable">
            <tr>
                <th>Location</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Wind</th>
                <th><!-- icon --></th>
                <th><!-- Remove --></th>
            </tr>
        </table>
    </body>
</html>